.price {
    max-width: 1440px;
    min-height: 845px;
    margin: auto;
}

.price__title {
    height: 80px;
    padding: 100px 0px 60px 0px;
    text-align: center;
}

.price__text {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    margin: 0px;
}

.price__text::before,
.price__text::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: #BDAE82;
    height: 2px;
    width: 279px;
    margin-right: 20px;
    margin-left: 20px;
}

.price__row {
    max-width: 1400px;
    min-height: 505px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.price__column {
    width: 444px;
    height: 499px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #BDAE82 3px;
}

.item-price__title {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    line-height: 56px;
    margin: 0px;
    color: #ffffff;
    margin-top: 43px;
}

.item-price__text {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
    margin: 0px;
    margin-top: 20px;
}

.item-price__list {
    width: 364px;
    height: 180px;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.item-price__list-text {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
    margin: 0px;
}

.item-price__button {
    font-family: 'Inter', sans-serif;
    width: 220px;
    height: 55px;
    font-size: 20px;
    line-height: 40px;
    background-color: #BDAE82;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}

.item-price__button:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .price {
        width: 768px;
        height: 1905px;
    }

    .price__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .price__text::before,
    .price__text::after {
        width: 121px;
    }

    .price__column {
        margin-bottom: 50px;
    }
}